@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&display=swap');

* {
    margin: auto;
    padding: 0;
    background-color: white;
    color: black;
    font-family: 'Baloo Bhai 2', sans-serif;
}

.center {
    text-align: center;

}

.paragraph {
    margin-left: 15%;
    margin-right: 15%;
    font-size: larger;
}

pre code {
    color: white;
    background-color: rgb(36, 34, 34);
    border: 1px solid #999;
    display: block;
    padding: 5px;
  }

 
